* {
  box-sizing: border-box;
}

.wrapper {
  width: 1175px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.button-link {
  display: inline-block;
  font-size: 18px;
  color: #fffcf4;
  background-color: #1dde85;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.h2-heading {
  font-size: 30px;
  color: #454546;
  margin-top: 0;
}

/* FONTS
font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif
font-family: 'Roboto Slab', serif;
*/

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* HEADER */

.header {
  background-image: url('./images/header-background.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 280px;
}

.header::before {
  content: "";
  position: absolute;
  top: 120px;
  border-bottom: 1px solid #4a494a;
  width: 100%;
}

.head {
  margin-bottom: 310px;
}

.logo-link {
  float: left;
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 140px;
  height: 35px;
}

.navigation {
  float: right;
  font-size: 0;
  margin-top: 12px;
}

.navigation-link {
  font-size: 14px;
  text-decoration: none;
  color: #fffcf4;
  text-transform: uppercase;
}

.navigation-link:not(:last-child) {
  margin-right: 40px;
}

/* HOVER */

.navigation-link:hover {
  display: inline;
  padding-bottom: 10px;
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

.header-div {
  width: 915px;
  margin: 0 auto;
}

.header-desc {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 0;
}

.header-title {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  margin-top: 0;
}

.foinni-word {
  font-family: 'Exo 2', sans-serif;
  color: #1dde85;
  font-size: 53px;
}

/* MAIN */

.main {
  padding-top: 125px;
  padding-bottom: 125px;
}

.welcome-to-foinni {
  padding-bottom: 125px;
}

/* --- */

.welcome {
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 895px;
}

.welcome-foinni-word {
  color: #1dde85;
}

.welcome-desc {
  font-size: 18px;
  color: #8f8e91;
  line-height: 30px;
}

/* --- */

.welcome-cards {
  text-align: center;
}

.welcome-card {
  float: left;
  width: 360px;
  height: 250px;
  border: 2px solid #cac8c5;
  padding: 32px 8px;
}

.welcome-card-img {
  margin-bottom: 18px;
}

.welcome-card-heading {
  font-size: 24px;
  color: #454546;
  margin-top: 0;
}

.welcome-card-desc {
  font-size: 14px;
  color: #8f8e91;
  line-height: 30px;
}

/* HOVER */

.welcome-card:hover {
  border-color: #1dde85;
}

.welcome-card:hover .welcome-card-heading {
  color: #1dde85;
}

.welcome-card:not(:nth-child(3n)) {
  margin-right: 45px;
}

.welcome-card:nth-child(-n+3) {
  margin-bottom: 50px;
}

/* --- */

.meet-us {
  margin-bottom: 125px;
}

.meet-us .wrapper .h2-heading {
  margin-bottom: 75px;
}

.meet-us-card {
  position: relative;
  float: left;
  width: 270px;
  height: 356px;
  overflow: hidden;
  font-size: 0;
}

.meet-us-caption {
  position: absolute;
  background-color: #424243;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
}

.meet-us-card .effect {
  background-color: #1dde85;
  opacity: 0.8;
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: 0;
  transform: translateY(-100%);
  transition: 1s;
}

.socials-person {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(50%);
  bottom: 50%;
}

.social-links div {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.social-links {
  padding-top: 300px;
}

.socials {
  font-size: 0;
  text-align: center;
}

.social {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social:not(:last-child) {
  margin-right: 15px;
}

.social::after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.social-bh::after {
  background-image: url('./images/behance.png');
}

.social-fb::after {
  background-image: url('./images/facebook.png');
}

.social-tw::after {
  background-image: url('./images/twitter.png');
}

.meet-us-card:hover .effect {
  transform: translateY(0);
}

.meet-us-card:hover .meet-us-caption {
  transform: translateY(100%);
  transition: 1s;
}

.meet-us-card:not(:last-child) {
  margin-right: 30px;
}

.meet-us-card-img {
  width: 270px;
  height: 355px;
  object-fit: cover;
}

.meet-us-cards-heading,
.meet-us-cards-desc {
  margin-top: 0;
  color: #fffcf4;
  margin-bottom: 0;
}

.meet-us-cards-heading {
  font-size: 18px;
  font-weight: bold;
}

.meet-us-cards-desc {
  font-size: 14px;
  font-weight: thin;
}

/* --- */

.works {
  margin-bottom: 125px;
}

.works-head {
  margin-bottom: 60px;
}

.works-head .h2-heading {
  margin-bottom: 40px;
}

.works-navigation {
  text-align: center;
  font-size: 0;
}

.works-link {
  font-size: 18px;
  color: #434243;
  text-decoration: none;
}

.works-link:not(:last-child) {
  margin-right: 45px;
}

.works-link:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

.works-cards {
  margin-bottom: 45px;
}

.works-card {
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 390px;
  height: 390px;
}

.works-card:nth-child(1) {
  background-image: url('./images/our-latest-works/olw-groot.png');
}

.works-card:nth-child(2) {
  background-image: url('./images/our-latest-works/olw-tree.png');
}

.works-card:nth-child(3) {
  background-image: url('./images/our-latest-works/olw-hand.png');
}

.works-card:nth-child(4) {
  background-image: url('./images/our-latest-works/olw-m-face.png');
}

.works-card:nth-child(5) {
  background-image: url('./images/our-latest-works/olw-f-face.png');
}

.works-card:nth-child(6) {
  background-image: url('./images/our-latest-works/olw-woman.png');
}

.works-card:nth-child(-n+3) {
  margin-bottom: 50px;
}

.see-more-div {
  text-align: center;
}

.see-more-link {
  padding: 20px 60px;
}

/* --- */

.pricing-card {
  float: left;
}

.pricing .wrapper .h2-heading {
  margin-bottom: 55px;
}

.pricing-card:not(:last-child) {
  margin-right: 15px;
}

.pricing-card-heading {
  color: #8f8e91;
  margin-top: 0;
  font-weight: normal;
}

.pricing-card-value {
  position: relative;
  border: 1px solid #a8a7a3;
  padding: 30px 100px;
  color: #8f8e91;
  font-family: 'Roboto Slab', serif;
}

.pricing-card-desc {
  border: 1px solid transparent;
  color: #8f8e91;
  padding: 30px 30px 20px;
}

.pricing-card-value-inside::before {
  content: '\24';
  color: #454546;
  font-size: 24px;
  position: absolute;
  top: -5px;
  left: -15px;
  font-weight: bold;
}

.order-now-link {
  padding: 15px;
  color: #8f8e91;
  background-color: #fff;
  border: 1px solid #8f8e91;
}

.price {
  font-size: 36px;
  color: #454546;
  font-weight: bold;
}

.per-month {
  font-size: 18px;
  color: #454546;
}

.pricing-card-list {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 45px;
}

.pricing-card-list li {
  line-height: 36px;
  list-style: none;
}

.order-now {
  text-align: center;
}

/* HOVER */

.pricing-card:hover .pricing-card-heading {
  color: #1dde85;
}

.pricing-card:hover .pricing-card-value {
  border: 1px solid transparent;
  background-color: #1dde85;
}

.pricing-card:hover .span-color {
  color: #fffcf4;
}

.pricing-card:hover .order-now-link {
  background-color: #1dde85;
  color: #fff;
  border: 1px solid transparent;
}

.pricing-card:hover .pricing-card-value-inside::before {
  color: #fffcf4;
}

.pricing-card-value-inside {
  position: relative;
}

.pricing-card:hover .pricing-card-desc {
  border: 1px solid #1dde85;
}

/* --- */

.footer {
  background-image: url('./images/footer-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.say-hi {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-heading {
  margin-top: 0;
  font-size: 30px;
  color: #fffcf4;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.form {
  font-size: 0;
  margin-bottom: 30px;
  width: 895px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  width: 435px;
  display: inline-block;
  padding: 18px 22px;
  border: 1px solid #bbbbbd;
  background-color: transparent;
  margin-bottom: 30px;
  font-size: 14px;
  color: #f6f2eb;
}

.input:first-child {
  margin-right: 25px;
}

.textarea {
  height: 215px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #bbbbbd;
  resize: none;
  font-size: 14px;
  padding: 18px 22px;
  color: #fffcf4;
}

.placeholder::placeholder {
  color: #f6f2eb;
  font-size: 14px;
  font-style: italic;
}

.send-message-div {
  text-align: center;
}

.send-message-link {
  padding: 20px 60px;
  font-size: 18px;
}

/* --- */

.about {
  background-color: #0b0a0a;
  padding-top: 40px;
}

.about-us {
  float: left;
  vertical-align: top;
  width: 320px;
  margin-right: 125px;
}

.about-heading {
  text-align: left;
  font-size: 18px;
  color: #fff;
  margin-top: 0;
}

.about-us-desc {
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  color: #8f8e91;
}

.quick-links {
  float: left;
  margin-right: 180px;
}

.quick-links-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.quick-link {
  font-size: 14px;
  line-height: 30px;
  color: #8f8e91;
  text-align: left;
  text-decoration: none;
}

.subscr {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  font-size: 0;
}

.subscr-form {
  display: inline-block;
}

.list-items:first-child {
  float: left;
  margin-right: 30px;
}

.list-items:last-child {
  float: right;
}

.subscr-input {
  width: 100%;
  padding: 15px 8px;
  border: 1px solid #838484;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 20px;
  color: #838484;
}

.subscr-input::placeholder {
  color: #838484;
  font-size: 14px;
}

.subscribe {
  display: inline-block;
  font-size: 18px;
  color: #fffcf4;
  background-color: #1dde85;
  text-decoration: none;
  padding: 15px 15px 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.subscr-label {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
}

.subscr-link {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #838484;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.subscr-link:not(:last-child) {
  margin-right: 8px;
}

.ful-facebook {
  background-image: url('./images/facebook.png');
}

.ful-twitter {
  background-image: url('./images/twitter.png');
}

.ful-google {
  background-image: url('./images/google-plus.png');
}

.ful-linkedin {
  background-image: url('./images/linkedin.png');
}

.about::after {
  content: 'A Design By MD. Zillur Rahman Sama';
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #000;
  color: #8f8e91;
  font-size: 14px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 70px;
}
